html {
    font-family: Helvetica, sans-serif;
    margin: 10px 24px;
    line-height: 1.5;
    background-color: rgb(238, 238, 238);
    color: rbg(51, 51, 51);
}

article {
    width: 75%;
    display: inline-block;
}

article header {
    margin-bottom: 45px;
}

img {
    width: 75%;
}

aside {
    display: inline-block;
    margin-left: 20px;
    width: 20%;
    vertical-align: top;
}
